<a class="button" href="#searchForm">Search</a>

<ul id="tenses" title="<%= params[:q] %>" selected="true">
  <% @results.map { |e| e[:tense] }.each do |tense| %>
    <li><a href="#<%= tense.downcase.gsub(/[^a-z]/,'') %>"><%= tense %></a></li>
  <% end %>
</ul>

<% @results.each do |result| %>
<ul id="<%= result[:tense].downcase.gsub(/[^a-z]/,'') %>" title="<%= result[:tense] %>">
  <% result[:conjugations].each do |conjugation| %>
    <li><%= conjugation %></li>
  <% end %>
</ul>
<% end %>

<%= erb(:search_form, :layout => false) %>
